[flake8]
max-line-length = 88
# McCabe Complexity
max-complexity = 10
# Default: E,F,W,C90             
# E***/W***: pep8 errors and warnings
# F***: PyFlakes codes 
# C9**: McCabe complexity plugin mccabe
# N8**: Naming Conventions plugin pep8-naming
select = E, W, F, C, N
