[MESSAGES CONTROL]

# disable reasons 
# bad-continuation: incompatible with black formatting https://github.com/python/black/issues/48
# locally-disabled: definitely want to locally turn off some linting
# line-too-long, trailing-whitespace: handled by flake8
# missing-docstring: handled by pycodestyle
disable = bad-continuation, locally-disabled, line-too-long, trailing-whitespace, missing-docstring

[BASIC]

# allow short variables names 
good-names=X,y,d,c,i,i1,i2,j,j1,j2,k,n,p,q

[FORMAT]

max-line-length=88

[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=np.*,numba.*

